/*Tipografía general de toda la página*/
@font-face{
    font-family: "CaptainPod";
    src: url(Captpod.ttf);

    font-family: "Audiowide";
    src: url(Audiowide-Regular.ttf);

    font-family: "ShareTechMono";
    src: url(ShareTechMono-Regular.ttf);
  }
  
  html, body, nav, p, footer{
    font-family: "Audiowide"/*, "ShareTechMono";*/
  }

  html{
    font-family: Arial, Helvetica, sans-serif;
  }